<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Ad Draft</title>
        <link rel="stylesheet" href="site.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
    <div id="app">
        <div class="details">
            <div class="form-group">
                <label for="headline-1">Headline 1</label>
                <input type="text" id="headline-1" v-model="headline1" v-bind:class="{ error: headline1.length > 30 }">
            </div>
            <div class="form-group">
                <label for="headline-2">Headline 2</label>
                <input type="text" id="headline-2" v-model="headline2" v-bind:class="{ error: headline2.length > 30 }">
            </div>
            <div class="form-group">
                <label for="url">Display URL</label>
                <input type="text" id="url" v-model="url">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" v-model="description" v-bind:class="{ error: description.length > 80 }"></textarea>
            </div>
            <div class="form-group">
                <button @click="addToList">Add to collection</button>
            </div>
        </div>

        <div class="ad-preview">
            <div class="currently-editing">
                <div class="ad-desktop">
                    <span class="ad-title">{{ headline1 }} - {{ headline2 }}</span>
                    <span class="ad-label">Ad</span>
                    <span class="ad-url">{{ url }}</span>
                    <span class="ad-description">{{ description }}</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="tags">
                <ul>
                    <li><a href="#" @click.prevent="adFilter = null" :class="{selected: adFilter == null}">All</a>
                    <li v-for="tag in tags"><a href="#" @click.prevent="adFilter = tag" :class="{selected: adFilter == tag}">{{ tag }}</a></li>
                </ul>
            </div>
            <div class="ads-list">
                <div class="ad-desktop" v-for="(ad, index) in adsToShow">
                    <div>
                        <span class="ad-title">{{ ad.headline1 }} - {{ ad.headline2 }}</span>
                        <span class="ad-label">Ad</span>
                        <span class="ad-url">{{ ad.url }}</span>
                        <span class="ad-description">{{ ad.description }}</span>
                    </div>
                    <div class="edit-ad" v-if="ad.edit">
                        <div class="form-group">
                            <label for="headline-1">Headline 1</label>
                            <input type="text" id="headline-1" v-model="ad.headline1" v-bind:class="{ error: ad.headline1.length > 30 }">
                        </div>
                        <div class="form-group">
                            <label for="headline-2">Headline 2</label>
                            <input type="text" id="headline-2" v-model="ad.headline2" v-bind:class="{ error: ad.headline2.length > 30 }">
                        </div>
                        <div class="form-group">
                            <label for="url">Display URL</label>
                            <input type="text" id="url" v-model="ad.url">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" v-model="ad.description" v-bind:class="{ error: ad.description.length > 80 }"></textarea>
                        </div>
                        <div class="form-group">
                            <button @click="ad.edit = false; save();">Save</button>
                        </div>
                    </div>
                    <div class="tags-editor" v-show="ad.editTags">
                        <h4>Tags</h4>
                        <textarea v-model="ad.tags"></textarea>
                        <button @click="ad.editTags = false; save();">Save</button>
                    </div>
                   <div class="options">
                        <a href="#" @click.prevent="removeAd(index)">D</a>
                        <a href="#" @click.prevent="ad.edit = true">E</a>
                        <a href="#" @click.prevent="ad.editTags = true">T</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body>
    <script src="https://unpkg.com/vue"></script>
    <script src="site.js" type="text/javascript" charset="utf-8"></script>
</html>
